:root{
 --bgColor: #eaeaea;
 --divColor:#f9f9f9;
 --navColor:#00bdb6;
 --errorColor:red;
 --navTextColor:#fff;
 --button-color:#19b394;
 --button-color-hover:#139e82;
}

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
    body{
        font-family:Arial,Helvetica,sans-serif;
        background:var(--bgColor);
    }

    header{
        position:fixed;
        top:0;
        width:100%;
        background:var(--navColor);
        color:var(--navTextColor);
        display:flex;
        align-items:center;
        justify-content:space-between;
        padding:1rem;
        z-index:1000;
    }
    .logo{
        font-size:2rem;
        font-weight:bold;
        text-decoration:none;
        color:var(--navTextColor);
        transition: 0.3s;
    }
    .logo:hover{
        transform: scale(1.1);
    }
    nav ul{
        display:flex;
        list-style:none;
        gap:2rem;
        margin-right: 3rem;
    }
    nav a{
        color:var(--navTextColor);
        text-decoration:none;
        position:relative;
    }
    nav a::after{
        content:"";
        position:absolute;
        width:0;
        height:2px;
        bottom:-4px;
        left:0;
        background:var(--navTextColor);
        transition:width .3s ease;
    }
    nav a:hover::after,nav a.active::after{
        width:100%;
    }

    .burger{
        display:none;
        flex-direction:column;
        gap:0.3rem;
        cursor:pointer;
    }
    .burger span{
        width:2rem;
        height:0.2rem;
        background:var(--navTextColor);
        border-radius:3px;
        transition:transform .3s ease,opacity .3s ease;
    }
    .burger.open span:nth-child(1){
        transform:translateY(8px) rotate(45deg);
    }    
    .burger.open span:nth-child(2){
        opacity:0;
    }    
    .burger.open span:nth-child(3){
        transform:translateY(-8px) rotate(-45deg);
    }    

    main{
        max-width:80%;
        margin:6rem auto ;
        padding:1rem;
        background:var(--divColor);
        border-radius:8px;
        box-shadow:0 2px 8px rgba(0,0,0,.08);
  
    } 

    #home{
        display:flex;
        flex-direction:column;
        align-items:center;
        gap:1rem;
        text-align:center;
        height: 70vh;
        justify-content: center;
       
    }
    #homeH2{
        font-size: 3rem;
    }
    #homeP{
        font-size: 1rem;
        color: gray;
    }
    #homeBtn{
        padding: 0.5rem;
        border: none;
        background-color: var(--button-color);
        border-radius: 6px;
        color: var(--navTextColor);
        margin-top: 4rem;
        font-size: 1.2rem;
    }
    #homeBtn:hover{
        background-color: var(--button-color-hover);
    }

    #quiz,#result{
        display:none;
    }

    #quiz-title{
        margin-bottom: 2rem;
    }
    .question{
        margin-bottom:1.5rem;
        font-weight:600;
    }
    .options{
        display:flex;
        flex-direction:column;
        gap:0.5rem;
        margin-bottom:1.5rem;
    }
    .options label{
        background:var(--navTextColor);
        border:1px solid #ccc;
        padding:0.5rem;
        border-radius:8px;
        cursor:pointer;
    }
    .options label:hover{
        background: #f7f7f7;
    }
    .options input{
        margin-right:1rem;
    }
    .options input:checked+span{
        font-weight:bold;
    }

    .btn{
        display:inline-block;
        padding:0.6rem 1.2rem;
        border:none;
        border-radius:6px;
        font-weight:600;
        font-size:1rem;
        cursor:pointer;
    }
    .btn-primary{
        background:var(--button-color);
        color:var(--navTextColor);
    }
    .btn-primary:hover{
        background:var(--button-color-hover);
    }
    .btn-secondary{
        background: var(--navTextColor);
        color:var(--button-color);
    }
    .btn-secondary:hover{
        background-color: #f7f7f7;
    }

    .btn-block{
        width:100%;
        text-align:center;
        margin-top:0.5rem;
    }

    #score{
        font-size:1.5rem;
        font-weight:bold;
        margin-bottom:0.5rem;
    }
    #resultH2{
        margin-bottom: 2rem;
        text-align: center;
    }
    #percentage{
        font-size:1.5rem;
        margin-bottom:1rem;
    }

        .error-message {
  color: var(--errorColor);
  margin-top: 8px;
  font-size: 0.9rem;
  /* content: " Please select one answer."; */
}
.error-message::before {
  content: "⚠️ Please select one answer.";
}

.custom-radio {
  appearance: none;
  -webkit-appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #ccc;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  outline: none;
  margin-right: 8px;
  vertical-align: middle;
}


.custom-radio:checked {
  border-color: var(--button-color);
  background-color: var(--button-color);
}
.custom-radio:checked::before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background: var(--navTextColor);
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 6px;
}
    

    @media(max-width:768px){
      nav ul{
        position:fixed;
        top:4rem;
        right:-100%;
        flex-direction:column;
        background:var(--navColor);
        width:30%;
        padding:1rem 0;
    }      
      nav ul li{
        padding:0.5rem 1rem;
    }
      nav ul li a{
        display:block;
        width:100%;
    }
      nav ul.show{
        right: 0;
        transition:right .3s ease;
    }
      .burger{
        display:flex;
    }
    }